---
import Layout from "../layouts/Layout.astro";

---
<Layout title="404 pagina no encontrada">
  <div class="flex flex-col  justify-center items-center">
    <h1 class="text-3xl font-semibol text-white">404</h1>
    <p class="text-white text-1xl text-center">La página que buscas no existe</p>
    <img src="https://i.gifer.com/UUcK.gif" alt="pagina no encontrada">
  </div>
</Layout>