---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="SpaceX Beta">
	<main>
		<Header/>
	</main>

	<nav  class="flex flex-col items-center justify-between w-full text-center md:flex-row">
		<a class="text-white" href="/">Ultimos lanzamientos</a>
		<a class="text-white" href="/oldest">Los más viejos</a>
	</nav>
</Layout>