---
const  res = await fetch("https://api.spacexdata.com/v5/launches/")

const data = await res.json();
console.log(data);

---

<div class="grid gap-8 sm:grid-clos-2 lg:grid-cols-3">
  <article></article>
</div>